* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #1786C6;
  color: #FEFFFE;
  overflow: hidden;
}

.wrapper {
  width: 30em;
  height: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .label {
  position: absolute;
  top: 5em;
  left: 3em;
  right: 3em;
  bottom: 5em;
  z-index: 100;
}
.wrapper .label .setup {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
.wrapper .label .setup .rest, .wrapper .label .setup .interval {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
.wrapper .label .setup .rest .title, .wrapper .label .setup .interval .title {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5em;
}
.wrapper .label .setup .rest a, .wrapper .label .setup .interval a {
  text-decoration: none;
  color: #FEFFFE;
}
.wrapper .label .setup .rest div.input, .wrapper .label .setup .interval div.input {
  margin: 0 0.1em;
  text-align: center;
  width: 2em;
  position: relative;
}
.wrapper .label .setup .rest div.input:after, .wrapper .label .setup .interval div.input:after {
  content: 'min';
  font-size: 0.3em;
  display: block;
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .label .setup .rest .minus, .wrapper .label .setup .rest .plus, .wrapper .label .setup .interval .minus, .wrapper .label .setup .interval .plus {
  cursor: pointer;
}
.wrapper .label .setup .rest .plus, .wrapper .label .setup .interval .plus {
  font-size: 0.6em;
  line-height: 1.6em;
}
.wrapper .label .status {
  font-size: 3em;
  height: 1em;
  text-align: center;
  margin-top: 0.5em;
}
.wrapper .label .timer {
  font-size: 3em;
  height: 1em;
  display: flex;
  justify-content: center;
  margin: 0.2em 0 0.5em;
}
.wrapper .label .controls {
  text-align: center;
}
.wrapper .label .controls button {
  display: block;
  margin: 0 auto;
  background-color: #AAD3EA;
  border: none;
  font-size: 1.5em;
  border-radius: 0.3em;
  padding: 0.3em 0.8em;
  cursor: pointer;
  color: black;
  transition: background-color 300ms;
}
.wrapper .label .controls button:hover {
  background-color: #DC8679;
}
.wrapper .label .controls button:focus {
  outline: none;
}
.wrapper .label .controls button.reset {
  margin: 1em auto;
  font-size: 1em;
}
.wrapper .pie {
  clip: rect(0, 30em, 30em, 15em);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper .pie .half {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1em solid #AAD3EA;
  background: transparent;
  clip: rect(0, 15em, 30em, 0);
}
.wrapper .pie .half.coral {
  border-color: coral;
}
.wrapper .pie .right-side {
  display: none;
}
.wrapper .pie .left-side {
  transform: rotate(0deg);
  /* Change this to display the chart*/
}
.wrapper .pie.full {
  clip: rect(auto, auto, auto, auto);
}
.wrapper .pie.full .right-side {
  display: block;
  transform: rotate(180deg);
}
.wrapper .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1em solid #419CD0;
  border-radius: 50%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  body {
    font-size: 11px;
  }
}
